
<div class="container">
    <div class="card">
        <mat-card class="card_content">
            <div >
                <div><strong>Situação cadastral do CPF</strong></div>
                <div class="subtitle">Consulta na Receita Federal</div>
            </div>
            <div class="content">
                <div class="icon"><mat-icon mat-list-icon >person</mat-icon></div>
                <div>
                    <div>Nome</div>
                    <div><strong>Mariana de Souza Oliveira</strong></div>
                </div>
            </div>
            <div class="content">
                <div class="icon"><mat-icon class="icon_status" mat-list-icon >check_circle</mat-icon></div>
                <div>
                    <div>Situação do CPF</div>
                    <div><strong>Regular</strong></div>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="card">
        <mat-card class="card_content">
            <div >
                <div><strong>Conta aplicação</strong></div>
                <div class="subtitle">Cooperativa Viacred</div>
            </div>
            <div class="content">
                <div class="icon"><mat-icon mat-list-icon >credit_card</mat-icon></div>
                <div>
                    <div>Número da conta</div>
                    <div><strong>557932-4</strong></div>
                </div>
            </div>
            <div class="content">
                    <a href="link">Duplicar conta</a>
            </div>
        </mat-card>
    </div>
    <div class="card">
        <mat-card class="card_content">
            <div >
                <div><strong>Conta corrente</strong></div>
                <div class="subtitle">Cooperativa Viacred</div>
            </div>
            <div class="content">
                <div class="icon"><mat-icon mat-list-icon >credit_card</mat-icon></div>
                <div>
                    <div>Número da conta</div>
                    <div><strong>778461-8</strong></div>
                </div>
            </div>
            <div class="content">
                    <a href="link">Duplicar conta</a>
            </div>
        </mat-card>
    </div>


</div>


