<div class="mat-list-container">
    <mat-list class="mat-list-container">
        <div mat-subheader>Imagem</div>
        <mat-list-item>
        <mat-icon mat-list-icon>menu</mat-icon>
        </mat-list-item>
        <mat-list-item >
        <mat-icon mat-list-icon>search</mat-icon>
        </mat-list-item>
        <mat-list-item >
        <mat-icon mat-list-icon>star</mat-icon>
        </mat-list-item>
        <mat-list-item >
        <mat-icon mat-list-icon>note</mat-icon>
        </mat-list-item>
        <mat-list-item >
        <mat-icon mat-list-icon>note</mat-icon>
        </mat-list-item>
        <mat-list-item >
        <mat-icon mat-list-icon>note</mat-icon>
        </mat-list-item>
        <mat-list-item >
        <mat-icon mat-list-icon>note</mat-icon>
        </mat-list-item>
        <mat-list-item >
        <mat-icon mat-list-icon>note</mat-icon>
        </mat-list-item>
    </mat-list>
</div>
