

:host{
    display: flex;
    justify-content: space-between;
    margin: 1%;
    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .content{
        display: flex;
    }
    .button{
        color: #045e7b;
        border: 1px solid #045e7b;
        border-radius: 30px;
        box-sizing: border-box;
        margin-left: 10px;
        
    }
    .content{
        height: 30px;
    }

    .image{
        vertical-align: middle;
        width: 30px;
        height: 100%;
        border: 1px solid #045e7b;
        border-radius: 50%;
        margin-left: 10px;
    }
    
    .title{
        display: flex;
        flex-direction: column;
    }

    .main_title{
        font-size: x-large;
    }
    .subtitle{
        background-color: "#d3d3d3";
        color: gray;
    }
}

