
<div class="container">
        <div class="title">
            <span class="main_title"><strong> NOVA ADMISSÃO COOPERADO</strong></span>
            <span class="subtitle">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</span>
        </div>
        <div class="content">
            <mat-icon mat-list-icon matBadge="1" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
            <button mat-stroked-button class="button" color="primary">VIACRED</button>
            <img class="image" src="../../../assets/businessman.png" alt="avatar"/>
        </div>
</div>
