<form 
    class="content"
    appFormFocus
    (keydown.enter)="$event.preventDefault()"
    [formGroup]="filtersForm">
    <div class="cpf"><strong>CPF</strong></div>
    <div class="input-field">
            <mat-form-field appearance="outline" class="input_form"  >
            <input 
                matInput 
                type="text"
                formControlName="cpf"
                placeholder="000.000.000-00" 
                autocomplete="off"
                isRequired/>
            </mat-form-field>
            <button 
                 class="button" 
                 mat-stroked-button 
                 color="primary" 
                 (click)="search()"
                 [disabled]="disableButton">Consultar por CPF</button>
    </div>
</form>
