

:host{
    .content{
        display: flex;
        
    }
    .input-field{
        display: flex;
        flex-direction: column;
        margin-right: 3%;
    }
    .button{
        background-color: #045e7b;
        color: #ffffff;
        height: 10%;
        margin-top: 4%;
    }
}