<form class="content" 
    appFormFocus
    (keydown.enter)="$event.preventDefault()">
        <div class="input-field">
            <div class="cpf">CPF</div>
                <mat-form-field class="example-full-width" appearance="fill" >
                <input 
                    matInput 
                    type="text"
                    formControlName="cpf"
                    placeholder="000.000.000-00" 
                    isRequired/>
                </mat-form-field>
        </div>
    <button mat-flat-button (click)="onSearch()">Consultar por CPF</button>
</form>
