

:host{
    .input-field{
        display: flex;
        text-align: center;
        margin-top: 3px;
        
    }
    input:focus{
        border: transparent;
     }
    .button{
        background-color: #045e7b;
        color: #ffffff;
        margin-left: 2%;
        height: 40px;
    }

    .input_form{
        width: 20%;
    }

    ::ng-deep .mat-form-field {
        font-size: 10px;
    }
}


