html, body {
    height: 50%;
  }
  
  body {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #424949;
    background-color: #ECF0F1;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  
  .flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-bottom: 4%;
  }
  
  .input-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 10px;
    max-width: 1000px;
    position: relative;
    z-index: 0;
  }
  
  .input {
    width: 15px;
    height: 15px;
    background-color: #2C3E50;
    position: relative;
    border-radius: 50%;
  }
  .input:hover {
    cursor: pointer;
  }
  .input::before, .input::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2C3E50;
    width: 50vw;
    height: 5px;
    max-width: 100px;
  }
  .input::before {
    left: calc(-11vw + 60px);
  }
  .input::after {
    right: calc(-11vw + 60px);
  }
  .input.active {
    background-color: #2C3E50;
  }
  .input.active::before {
    background-color: #2C3E50;
  }
  .input.active::after {
      width: 100px;
    background-color: #AEB6BF;
  }
  .input.active ~ .input, .input.active ~ .input::before, .input.active ~ .input::after {
    background-color: #AEB6BF;
  }

  .input span::before, .input span::after {
    visibility: visible;
    position: absolute;
    left: 50%;
  }
  .input span::after {
    content: attr(data-year);
    top: 25px;
    transform: translateX(-50%);
    font-size: 10px;
  }